DATABASE_URL=postgresql://postgres:SUA_SENHA@SEU_HOST_SUPABASE:5432/postgres
GOOGLE_DRIVE_COTACOES_FOLDER_ID=ID_DA_PASTA_DE_COTACOES_NO_DRIVE
GOOGLE_APPLICATION_CREDENTIALS=C:\caminho\para\service-account.json
